<html>
    <head>
        <title> Todo App </title>
        <style>
            .hidden{
                display: none;
            }

            ul {
                /*to remove the bullet-in points in the list item, so that only checkboxes remain*/
                list-style: none;
                padding: 0;
                margin: 0;

                width: 300px;
            }

            li {
                clear: both;
            }

            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;    /*to make the button like something you can point to*/
                font-size: 20 px;
            }
        </style>

    </head>
    <body>
        <!--Creating a form elemnt that allows us to create todo item-->
        <form id='form'> 
            <!--id is used to identify the HTML element through the Document Object Model (via JavaScript or styled with CSS). id is expected to be unique within the page. name corresponds to the form element and identifies what is posted back to the server-->
            <input type="text" id="description" name="description" />
            <input type='submit' value="Create" /> 

        </form>
        <!--set error message and make it by default hidden.. check the style above-->
        <div id='error' class= 'hidden'>Something went wrong!</div>
        <ul id='todos'>
            <!-- add a checkbox and set it to either checked or not based on its status whither completed or not (by eventually reading its status from todos.completed column in our db) -->
            {% for d in data %}
            <li><input class= 'check-completed' data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %} /> 
                {{ d.description }} 
                <!-- Adding a cross button to delete item-->
                <button class= 'deletion-press' data-id = '{{d.id}}' >&cross;</button>
            </li>
            {%endfor%}
        </ul>
        <script>
            //This loops over the cross buttons in the item list above and delete the item based on user interaction [click on the item]
            const deleteButtons = document.querySelectorAll('.deletion-press');
            for (let i=0; i<deleteButtons.length; i++){
                const deleteButton = deleteButtons[i]
                deleteButton.onclick = function(e){
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/delete',{
                        method: 'DELETE'
                    })
                    .then (function(){
                        const item = e.target.parentElement;
                        item.remove();
                    })
                }
            }



            //This loops over the checkboxes in the item list above and update the status based on user interaction with them
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i=0; i< checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function(e){
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then (function(){
                        document.getElementById('error').className= 'hidden';
                    })
                    .catch(function (){
                        document.getElementById('error').className= '';
                    })
                }
            }

            //This submits the form to the server
            document.getElementById('form').onsubmit = function(e){
                e.preventDefault(); //prevents the default behaviour which is refreshing the page
                fetch('/todos/create',{
                    method: 'POST',
                    body: JSON.stringify({
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                //Get the response from the server
                .then(function(response){
                    return response.json();
                })
                //paser that response as json
                .then(function(jsonResponse){
                    console.log(jsonResponse);
                    //Now amend that object to our list. Previously, server tookk care of this, but now the client through Ajax will!

                    //Define li item:
                    const liItem = document.createElement('li');
                    // set the inner html of this li tag to be the description that comes from the response
                    liItem.innerHTML = jsonResponse['description'];
                    // append a child of Li item. Notice that our unordered list has an id='todos' 
                    document.getElementById('todos').appendChild(liItem);

                    //notice, we included the error in the response but with class 'hidden' which means the error message will be alaways hidden if no error occured
                    document.getElementById('error').className= 'hidden'; 

                })
                //in case the above did not work, catch the error. .catch will only trigger if there is an error and in this case it will remove the class name 'hidden' which means the error message will be shown
                .catch(function() {
                    document.getElementById('error').className= ''; 
                }) 
            }
        </script>
    </body>



</html>